<div class="main-content">
    <h1 class="title">Hi {{user.username}},</h1>

    <div class="grid-20-80 align-items-center">
        <div class="home">
            <div class="home_inner">
                <i class="fa fa-home"></i>
            </div>
        </div>
        <div class="primary-color-text">
            <h3>The questionnaire base on following residential address</h3>
            <h3 class="semi-bold">{{user.address_line_1}}, {{user.address_line_2}}, {{user.postal_code}}</h3>
        </div>
    </div>

    <!-- Card -->
    <div class="card">

    </div>
    <!-- ./Card -->
</div>