
$primaryColor : #0080B8;
$primaryColorLight : #B0D2E7;
$accentColor : #0090B8;
$lightGrey : #FBFBFB;
$mdlightGrey : #333333;
$mediumGrey : #444444;
$drakGrey : #222222;
$bgHighlightGrey : #FBFBFB;
$white : #FFF;
